<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${mapper}">
    <sql id="allFields">
        <!--<%for(f in table.fields){%>-->
        <!--${f.nameInDb}-->
        <!--<%}%>-->
    </sql>
    <resultMap id="resultMap"  type="map">
        <!--<%for(f in table.fields){%>-->
        <result property="${f.nameCamel}" column="${f.nameInDb}" javaType="${@f.getJavaType().getName()}" jdbcType="${f.dbType}"/>
        <!--<%}%>-->
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ${table.nameInDb}
        (
        <include refid="allFields"/>
        )
        values(
        <!--<%for(f in table.fields){%>-->
        <!--#{${f.nameCamel}}-->
        <!--<%}%>-->
        )
    </insert>
    <select id="selectBy${table.primaryKey.nameCamel}" resultMap="resultMap">
        select
        <include refid="allFields"/>
        from ${table.nameInDb}
        where
        ${table.primaryKey.nameInDb} = #{${table.primaryKey.nameCamel}}
        limit 1
    </select>
</mapper>